<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <connectionStrings>
    
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ClientId" value="797232a4-a5f7-4874-bc92-33570520bbf9" />
    <add key="ClientSecret" value="abAeWb8X/VDhY1ywzi8g6UBvcEGkFg00wA1j6JuWocU=" />
    <!-- Azure AD OAuth -->
    <add key="ida:ClientID" value="33717170-df45-4e3f-8f0a-06afd578dfd3" />
    <add key="ida:AppKey" value="JAKY+zZdol8/8FIpOL7tRAObueeRYpkfd95OWwYFEzo=" />
    <add key="ida:AADInstance" value="https://login.windows.net/{0}" />
    <add key="ida:Tenant" value="icpower.onmicrosoft.com" />
    <add key="ida:GraphResourceID" value="https://graph.microsoft.com/" />
    <add key="ida:GraphUrl" value="https://graph.microsoft.com/v1.0/" />
    <add key="ida:GraphBetaUrl" value="https://graph.microsoft.com/beta/" />
    <add key="ida:OutlookResourceID" value="https://outlook.office.com/" />
    <!-- App Service Settings -->
    <add key="ServiceApiServer" value="https://spapp.icpower.com/corpservices/api/"/>
  </appSettings>
</configuration>
