@{
    ViewBag.Title = "IC Power Intranet Tools";
}

<div class="jumbotron">
    <h2>Welcome @ViewBag.UserName!</h2>
    <p class="lead"><b>IC Power Intranet Tools - </b>Manages some custom functionality for integrating Office 365 applications with the corporate Intranet</p>
    <p>This add-in deploys a web application in <a class="btn btn-default" href="https://spapp.icpower.com/corpservices">spapp.icpower.com/CorpServices</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>My Tasks - Planner</h2>
        <p>Displays tasks for current user from Planner in Office 365 using Microsoft Graph.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkID=294439">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>My Tasks - Outlook</h2>
        <p>Displays tasks for current user from Outlook using Exchange Online api.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkID=294440">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>My Agenda - Outlook</h2>
        <p>Displays the agenda for current user from Outlook using Microsoft Graph.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkID=294441">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Assign Documents</h2>
        <p>Adds a custom menu item action for Documents to assign document to a user and displays pending documents for current user.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkID=294441">Learn more &raquo;</a></p>
    </div>
</div>
